1. queue operation

In [0]:
que=[]
que.append(20)
que.append(30)
que.append(40)
que.append(50)

In [4]:
print(que.pop(0))
print(que)

20
[30, 40, 50]

2. sum of interger & float

In [5]:
L1=[20,12,40,55]
print(sum(L1))

127

In [6]:
L2=[3.0,2.3,4.88,9.7]
print(sum(L2))

19.88

3. count the occurence of element

In [18]:
string = "good morning"
f = {} 
  
for c in string: 
   if c in f: 
      f[c] += 1
   else: 
      f[c] = 1
print(f)

{'g': 2, 'o': 3, 'd': 1, ' ': 1, 'm': 1, 'r': 1, 'n': 2, 'i': 1}

4. string extracting

In [17]:
s=list()
s=[1,"hi",2,"good",3,"afternoon"]
s2=list()
for i in range(len(s)):
    if(type(s[i])==str):
      s2.append(s[i])
print(s2)

['hi', 'good', 'afternoon']